body {
   
    font-family: 'Roboto', sans-serif;
}

/*navigaiton*/
.navigation{
    background-color: #4B4B4B;
    min-height: 156px;
    max-width: 1525px;
    position: relative;
}
.nav-element {
    padding-right: 80px;
}
.nav-header {
    float: left;
    margin-top: 60px;
    margin-left: 100px;
}
.nav-header > a {
    font-size:  36px;
    color: #EBCB80;
    text-align: center;
    letter-spacing: 0.0554719em;
    text-decoration: none;
}
.nav-menu-list{
    float: right;
    margin-top: 60px;
    
}

.nav-menu-list > li{
  float: left;
    list-style-type: none;
    text-decoration: none;
}
.nav-menu-list > li > a {
    color:  #fff;
    padding: 50px;
    font-size: 18px;
    text-decoration: none;
}
.nav-menu-list > li > a:hover
 {
   color: #EBCB80;
}
.navigation>li {
    position: relative;
    display: block;
}
li.button > a {
    border: 2px solid #fff;
    padding: 15px 25px 14px 26px;
    border-radius:  50px;
}
li.button > a:hover{
    color: #EBCB80;
}
/*end navigation*/
/* ---------------------------------------------------------------------------------------------------------- */



/* ovalay css */
.overlay{
   position: relative;;
     height: 768px;
     background-image:url(../image/overlaybackground.png);    
    background-color: #EBCB80;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.8;
    text-align: center;
    background-size: cover;
}



.overlay>h1{
    position: absolute;
width: 778px;
height: 48px;
left: 345px;
top: 180px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 48px;
font-size: 44px;
text-align: center;
letter-spacing: -0.0363636em;

color: #4B4B4B;
}
.overlay>p{
    position: absolute;
width: 555px;
height: 24px;
left: 435px;
top: 280px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
text-align: center;
color: #4B4B4B;
}
.overlay-search>form>input[type="text"]{
    position: absolute;
width: 270px;
height: 48px;
left: 477px;
top: 380px;
border: 1px solid  #4B4B4B;
box-sizing: border-box;
border-radius: 4px;
opacity: 0.75;

}
.overlay-search ::placeholder{
    font-style: normal;
font-weight: normal;
line-height: 27px;
font-size: 16px;
padding-left: 30px;
color: #4B4B4B;
mix-blend-mode: normal;
opacity: 0.5;
}
.overlay-search>form>input[type="submit"]{
    position: absolute;
width: 198px;
height: 48px;
left: 765px;
top: 380px;
    border: 2px solid black;
box-sizing: border-box;
border-radius: 50px;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;
text-align: center;
letter-spacing: 0.0625em;
font-weight: bold;
background: #EBCB80;

color: #4B4B4B;
}
.overlay-search>form>input[type="submit"]:hover{
    color:red; 
}
.overlay-image {
    position: absolute;
    top: 500px;
    left: 530px;
}
.overlay-image>a>img{
    margin-right: 60px;
}
.overlay-image>a :hover{
    color: red;
}
/* End Overlay */
/* -------------------------------------------------------------------------------------------------- */


/* Our Team */
.OurTeam{
    position: relative;
    height:590px ;
    
}
.OurTeam-header{
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 48px;
    font-size: 44px;
    text-align: center;
    letter-spacing: -0.0363636em;

color: #4B4B4B;    
}
.OurTeam-list1{
    position: relative;
    width: 1525px;
}
.list1-item img{
    float: left;
    margin: 0 15px 0 0;
}

.list1-item{
     width:360px;
     height: 160px;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    margin:0 0 100px 100px;
}
.list1-item-content{
  float: left;
  display: inline-block;
}
.list1-item-content p{
    line-height: 24px;
}
/* END TEAM */
/* ------------------------------------------------------------- */
/* CHOSE YOUR PLAN */
.plan {
position: relative;
height: 900px;
background: #4B4B4B;
text-align: center;
}
.plan-header{
    padding-top: 50px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 48px;
font-size: 60px;
letter-spacing: -0.0363636em;
color: #FFFFFF;
}
.plan-group{
    position: relative;
    width: 1525px;
   
}
.plan-col{
    position: relative;
width: 350px;
height: 500px;
background: linear-gradient(221.37deg, rgba(255, 255, 255, 0.7) 1.05%, rgba(255, 255, 255, 7e-05) 86.93%);
background-blend-mode:soft-light;
border-radius: 8px;
 display: inline-block;
 margin: 50px;
}
#silver{
font-family: Lucida Grande;
font-size: 30px;
letter-spacing: 0.0555556em;
color:rgb(212, 166, 57);
}
#gold{
    font-family: Lucida Grande;
font-size: 30px;
letter-spacing: 0.0555556em;
color:rgb(212, 166, 57);
}
#platinum{
        font-family: Lucida Grande;
font-size: 30px;
letter-spacing: 0.0555556em;
color:rgb(212, 166, 57);
}
.plan-price{
    display:flex; 
    justify-content:space-between;
margin-left: 120px;
width: 100px;
}
#dollar{position: relative;
    height: 5px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 50px;
color: #FFFFFF;

}
#num{
    position: relative;
    height: 5px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 80px;
letter-spacing: -0.0363636em;
color: #FFFFFF;
}
#year{
    position: relative;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 27px;
font-size: 30px;
letter-spacing: 0.0555556em;
color: #FFFFFF;
}
.plan-content{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 16px;
color: #FFFFFF;
}
button{
width: 198px;
height: 48px;
 background: #EBCB80;
border-radius: 50px;
}
button:hover {
    background-color: #4B4B4B;
}
.plan-col:hover{
    background-color: #EBCB80;
}


